*{
    padding: 0%;margin: 0%;
}
#baner{
    background-image: linear-gradient(rgba(0,0,0.2,0.2),#250029), url(./images/baner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.logo{
    width: 150px;
    position: absolute;
    top: 4%;
    left: 4%;
}
.baner-text{
    text-align: center;
    padding-top: 180px;
    color: white;
}
.baner-text h1{
    font-size: 90px;
}
.baner-text p{
    font-size: 30px;
    font-style: italic;
}
.baner-btn{
    text-align: center;
    margin: 70px auto 0;
}
.baner-btn a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    margin: 0 15px;
    position: relative;
    transition: 0.5s;
    z-index: 1;
}
.baner-btn a span{
    background-color: white;
    width: 0%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    transition: 0.5s;
    z-index: -1;
}
.baner-btn a:hover span{
    width: 100%;
}
.baner-btn a:hover {
    color: black;
}
#sidenav{
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: #250029;
    width: 200px;
    height: 100vh;
    z-index: 1;
    transition: 0.5s;
}
#sidenav nav{}
#sidenav nav ul{
    padding-top: 60px;
}
#sidenav nav ul li{
    list-style-type: none;
    padding: 20px 0;
    
}
#sidenav nav ul li a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    
}
#menubtn{
    position: fixed;
    top: 0%;
    right: 0%;
    padding: 10px;
    z-index: 1;
}

#menubtn img{
    width: 40px;
    cursor: pointer;
    background-color: #250029;
}